@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(35, 35, 77);
  line-height: 22px;
}
.container {
  max-width: 350px;
  margin: 30px auto;
}
.form {
  padding: 10px;
  background-color: white;
  color: rgb(71, 68, 68);
}
.form h2,
.form p {
  text-align: center;
  color: black;
}
.form * {
  margin-bottom: 10px;
}
.input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid silver;
  padding-left: 5px;
  outline: none;
}
.input:active {
  border: 1px solid silver;
}
.submit {
  padding: 5px;
  background-color: rgb(81, 150, 136);
  color: white;

  cursor: pointer;
  font-weight: bold;
  width: 100%;
}
.submit:hover {
  background-color: rgb(64, 121, 109);
}
.login {
  text-align: center;
  color: white;
  margin-top: 10px;
}
.login a {
  text-decoration: none;
  color: rgb(81, 150, 136);
  font-weight: bold;
}
.error-border {
  border: 2px solid rgba(198, 42, 42, 0.72);
}
.error {
  animation-name: errorShake;
  animation-duration: 0.2s;
}
@keyframes errorShake {
  0% {
    transform: translateX(5px);
  }

  16% {
    transform: translateX(-5px);
  }
  32% {
    transform: translateX(5px);
  }

  48% {
    transform: translateX(-5px);
  }
  64% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}
